.App {
  text-align: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 37.5%;
  left: 37.5%;
  width: 25%;
  height: 25%;
  background-color: rgb(54, 232, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ActorTable {
  margin-top: 50px;
}
